.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

li a {
    text-decoration: none;
    margin-left: 20px;
    color: #6D83F2;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header nav .nav--links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header--logo img {
    max-width: 70px;
    max-height: 70px;
}

#header--logo img:hover {
   transform: rotate(90deg);
   transition: 500ms ease;
}

#header--logo p {
    padding: 15px 0px 15px 15px;
}

.nav--links ul li a.active {
    color: #6D83F2;
    border-bottom: 2px solid #6D83F2;
}

.nav--links ul li a:hover {
    color: #6D83F2;
    transition: 250ms ease;
}