@import url("components/navbar.css");
@import url("components/background.css");
@import url("components/about.css");
@import url("components/images.css");
@import url("components/contact.css");
@import url("components/wave.css");
@import url("components/top-btn.css");
@import url("components/responsive.css");
@import url("components/thanks.css");
@import url("components/darktheme.css");


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F8F8F8;

}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}